@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
	color: #fff;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#FFF;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}
html,
button,
input,
select,
textarea {
    font-family: 'sansation_lightlight';
}
img {
	max-width: 100%;
}
/* Custom CSS
 * --------------------------------------- */

.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100%;
	position: relative;
}
h3 {
	color: #606060;
	left: 0;
	font-size: 3.750em;
	padding: 110px 0 50px 0;
}
h2{
	position: absolute;
	font-size: 6em;
	right: 5%;
	bottom: 5%;	
	text-shadow: 2px 2px 2px #666;
	text-align: right;
}
p{
	font-size: 2em;
}
.conte { 
	height: 100%;
	margin: 0 auto;
	width: 93%;

}
.persona {
	height: 120px;
	width: 50%;
	float: left;
	margin: 0 0 75px 0;
}
.foto {
	height:100%;
	float: left;
	width: 25%;
}
.info {
	height: 100%;
	float: left;
	margin-left: 4%; 
	width: 71%;
}
h4 {
	color: #606060;
	float: right;
	height: auto;
	width: 100%;
	font-size: 1.375em;
	margin: 50px 0 0 0px;

}
h5 {
	color: #606060;
	float: left;
	height: auto;
	width: 100%;
	font-size: 1em;
	margin: 0 0 0 0px;

}
h6 {
	color: #606060;
	float: left;
	height: auto;
	width: 100%;
	font-size: 1.250em;
	margin: 20px 0;
	text-align: left;

}
.horarios {
	border-top: 1px solid #C0C0C0; 
	float: left;
	height: 45px;
	width: 100%;
}
.horarios2 {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0; 
	float: left;
	height: 45px;
	width: 100%;
}
.hora, .partido, .score, .media {
	font-size: 1em;
	float: left;
	height: auto;
	line-height: 45px;
	text-align: center;
}
.score, .hora, .media {
	width: 20%;
}
.partido{
	width: 40%;
}
.textos {
	font-size: 1em;
	float: left;
	height: auto;
	margin: 0 20px;
	line-height: 45px;
	text-align: center;
	width: auto;
}
.icomed {
	height: 25px;
	float: left;
	width: 25px;
	margin-top: 10px;
	margin-left: 20%
}
.icomed2 {
	height: 25px;
	float: left;
	width: 25px;
	margin: 7.5px 10px; 
}
.icomed3 {
	height: 25px;
	float: left;
	width: 25px;
	margin-top: 7.5px; 
}
.icomed:hover, .icomed2:hover, .icomed3:hover {
	opacity: .8;
}
.icoban {
	height: 40px;
	float: left;
	width: 40px;
	margin-top: 2.5px;
	margin-left: 20%
}
.icoban2 {
	height: 40px;
	float: left;
	width: 40px;
	margin-top: 2.5px; 
}
.desig {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0; 
	float: left;
	height: 45px;
	width: 100%;
	margin: 40px 0 20px 0;
}
.infodesig{
	font-size: .900em;
	float: left;
	height: auto;
	line-height: 45px;
	text-align: center;
	width: 25%;	
}
.histo {
	font-size: 1em;
	height: auto;
	width: 100%;
	margin-right: 2%;
	text-align: justify;
	-moz-column-count:2;
	-moz-column-gap:40px;/* Firefox */
	-webkit-column-count:2;
	-webkit-column-gap:40px; /* Safari and Chrome */
	column-count:2;
	column-gap:40px;
}
.fotos {
	width: 50%;
	height: auto;
	float: left;
}
.videos {
	width: 50%;
	height: auto;
	float: right;
}
.iconos {
	height: auto;
	width: 15%;
	margin: 20px 42.5% 20px 42.5%; 
}
.section{
}
#homes {
	height: 30px;
	position: absolute;
	width: 47px;
	left: 1%;
	top: 16px;	
	z-index: 3000;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#homes p {
	font-size: 13px;
	display: none;
	text-align: center;
	-webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#homes:hover {
	opacity: .7;
}
#homes:hover p {
	opacity: .7;
	display: block;
}

/* Menu
 * --------------------------------------- */
 #menu{
 	background: #333;
 	height: 70px;
	position:fixed;
	top:0;
	left:0;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	font-size: 1.125em;
	padding-left: 17%;
}
#menu li {
	display:inline-block;
	margin: 0px 7px;
	color: #FFF;
	line-height: 60px;
 
}
#menu li.active{
	color: #666;
}
#menu li a{
	text-decoration:none;
	color: #FFF;
}
#menu li.active a:hover{
	color: #666;
}
#menu li:hover{
	color: #FFF;
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #666;
}
.menu-fijo {
	position: fixed;
	top: 0;
}
/* Demos Menu
 * --------------------------------------- */



/* Sections
 * --------------------------------------- */
 #section0,
 #section1,
 #section2,
 #section3,
 #section4 {
	background-size: cover;
	background-position: center center;
 }
 #section0{
	background-image: url(../img/4naciones.jpg);
 }


